<ul class="article-list">
  <li class="article-list-item" *ngFor="let article of articles">
    <div class="flip-container">
      <div class="article">

        <div class="front">
          <h3 class="headline">{{ article.headline }}</h3>
          <img [src]="article.thumbnail"
               class="thumbnail">
        </div>

        <div class="back">
          <app-article-summary-section [article]="article"
                                     class="summary-section">
          </app-article-summary-section>
        </div>

      </div>
    </div>
  </li>
</ul>
