/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  background: #637A9D no-repeat fixed center;
  background-size: cover;

  color: whitesmoke;
  font: 20px Helvetica, Verdana, sans-serif;
  margin: 0 auto;
}
